@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: linear-gradient(90deg, #4e54c8, #8f94fb); /* Gradient background */
    display: flex;
    align-items: center;
    border-top-left-radius: 10px; /* Rounded corners */
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
}

.brand img {
    height: 40px;
    width: 40px;
    border-radius: 50%; /* Apply circular border-radius */
    overflow: hidden; /* Ensure image is fully contained within the circle */
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff; /* White text color */
    font-weight: bold; /* Bold font */
}


.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    border-top: 1px solid rgba(60,51,176,0.1);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
}
::placeholder{
    color: black;
    
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative; 
}
.incoming {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    background-color:black;
    color: white;
}
.outgoing {
    color: white;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    word-wrap: break-word;
    background-color:cornflowerblue;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

footer {
    background: #2c3e50; /* Dark blue background */
    padding: 15px 23px;
    color: #fff; /* White text color */
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}